<div>
  <nav>
    <div class="nav-wrapper">
      <form name="form" novalidate
            ng-submit="vm.search()">
        <div class="input-field">
          <input id="user-name"
                 type="search"
                 placeholder="Search github repos for user"
                 autocapitalize="off"
                 ng-model="vm.userName">
          <label for="user-name">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

  <div class="preloader-wrapper big active spinner-custom" ng-if="vm.isSearching">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>

  <div class="row" ng-if="vm.repoList && !vm.isSearching">
    <ul class="collection" ng-if="vm.repoList.length > 0">
      <li class="collection-item" ng-repeat="repo in vm.repoList track by repo.id">
        <h3>{{repo.name}}</h3>
        <p>{{repo.description}}</p>
        <a ng-href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
      </li>
    </ul>

  </div>

  <div class="center" ng-if="vm.errorMessage">
    <span class="red-text text-darken-2"> {{vm.errorMessage}}</span>
  </div>
</div>